---
layout: default
title: post
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body>

    {% include header.html %}

    <div class="content">
        <div class="wrapper">
            <div class="custom_panel">
                {% for post in site.posts %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ post.title }}
                        </div>
                        <div class="post_details_head">
                            <div class="post_details">
                                <span class="glyphicon glyphicon-time"></span>
                                {{ post.date | date: '%B %d, %Y' }}
                            </div>
                            <div class="post_details">
                                <span class="glyphicon glyphicon-user"></span>
                                Posted by
                                <span class="dark_text">Admin</span>
                            </div>
                            <div class="post_details">
                                <span class="glyphicon glyphicon-comment"></span>
                                Comments :
                                <span class="dark_text">22</span>
                            </div>
                        </div>
                        <div class="panel-image">
                            <img src="/images/{{ post.image }}" alt="{{ post.alternateText}}">
                        </div>
                        <div class="panel-body homepage-panel-body">
                            {{ post.threelinetext }}
                            <div class="readmorebutton orange">
                                <a href="{{ post.permalink }}" class="btn btn-default">
                                    Read More
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- {% include popularpost.html %} -->
        </div>
    </div>


    {% include footer.html %}

</body>
</html>
