---
layout: post
title: post
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>
<body>

    {% for post in site.posts %}
        {% if post.title == page.title %}
            {% include post-header.html %}

                <div class="content">
                    <div class="wrapper">
                        <div class="custom_panel">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ post.title }}
                                </div>
                                <div class="post_details_head">
                                    <div class="post_details">
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{ post.date | date: '%B %d, %Y' }}
                                    </div>
                                    <div class="post_details">
                                        <span class="glyphicon glyphicon-user"></span>
                                         Posted by
                                        <span class="dark_text">Admin</span>
                                     </div>
                                    <div class="post_details">
                                        <span class="glyphicon glyphicon-comment"></span>
                                         Comments :
                                        <span class="dark_text">22</span>
                                     </div>
                                </div>
                                <div class="panel-image">
                                    <img src="/images/{{ post.image }}" alt="{{ post.alternateText }}">
                                </div>
                                <div class="panel-body">
                                    {{ post.threelinetext }}
                                    {{ post.content }}
                                    {% if post.video %}
                                        <div class="video_section">
                                            <div class="video_bg">
                                                <!-- <img src="/images/video_image.jpg" alt="" /> -->
                                                {% include youtube_embed.html id=post.video %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- {% include popularpost.html %} -->
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% include footer.html %}

</body>
</html>
