<div class="footer">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <a href="../">
                        <img src="/images/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="white_text">Lorem ipsum is simple dummy text of the printing and typesetting industry.  Lorem ipsum is simple dummy text of the printing and typesetting</div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col_title">Tags</div>
                <div class="footer_navigation">
                    <ul>
                        <li><a href="#">Break</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Nature</a></li>

                        <li><a href="#">Break</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Nature</a></li>

                        <li><a href="#">Break</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Nature</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col_title">Email Newsletters</div>
                <div class="white_text">Lorem ipsum is simple dummy text of the printing</div>
                <div class="form-group email_subscribe">
                    <input type="text" class="form-control" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                    <input type="submit" value="Subscribe" class="btn btn-success" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copyright_text">&copy; 2017 Freshbits. All rights reserved.</div>
