<div class="logo_container">
    <div class="wrapper">
        <div class="logo pull-left">
            <a href="../">
                <img src="/images/logo.png" alt="Logo" />
            </a>
        </div>
        <div class="social_media pull-right">
            <div class="social_media_icon">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x" style="color:#29A1D3;"></i>
                        <i class="fa fa-twitter fa-stack-1x" style="color:white;"></i>
                    </span>
                </a>
            </div>
            <div class="social_media_icon">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x" style="color:#4F62AF;"></i>
                        <i class="fa fa-facebook fa-stack-1x" style="color:white;"></i>
                    </span>
                </a>
            </div>
            <div class="social_media_icon">
                <a href="https://www.youtube.com/watch?v=qxPhW9xLJi0" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x" style="color:#E73C32;"></i>
                        <i class="fa fa-youtube-play fa-stack-1x" style="color:white;"></i>
                    </span>
                </a>
            </div>
            <div class="search_box">
                <input class="form-control" type="text" placeholder="Search" />
                <input class="submit_button" type="submit" value="Search" />
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="header">
    <div class="header_main">
        <div class="header_wrapper">
            <div class="header_text">
                <div class="left_top_corner"></div>
                <div class="title_text">Freshbits<span>Blog</span></div>
                <small>Where every bit ready to serve.</small>
                <div class="right_bottom_corner"></div>
            </div>
        </div>
    </div>
</div>
