<div class="popular_post_heading">Popular Post</div>
<div class="green_border"></div>
<div class="popular_posts">
    <div class="row">
        {% for p in site.related_posts %}
            <div class="col-sm-4">
                <div class="post_container">
                    <div class="post_thumb">
                        <img src="/images/{{ p.image }}" alt="{{ p.title }}">
                    </div>
                    <div class="post_body">
                        <div class="post_details">
                            <span class="glyphicon glyphicon-time"></span>
                                {{ p.date | date: '%B %d, %Y' }}
                        </div>
                        <div class="post_title">
                            {{ p.title }}
                        </div>
                        <div class="post_text">
                            {{ p.content }}
                        </div>
                        <div class="readmore"><a href="#">Read More &gt;&gt;</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>

</div>
</div>
